h2 {
  padding: 30px;
  font-weight: 1000;
}
body {
  background: aliceblue;
  color: ;
}
.display-fixs {
  margin: ;
  padding: 10px;
  padding-top: ;
}
.h31, .h32 {
  color: white;
  width: ;
  text-align: left;
  padding: 10px;
  font-family: normal;
  font-size: 1.4rem;
  font-weight: 1000;
}
.h32 {
  text-align: right;
}
.no-clear {
  background-color: rgba(23,23,23,89%);
  margin-top: -14.5vh;
  position: relative;
  text-align: center;
  /*justify-self: center;*/
}
.fix-card {
  display: flex;
  gap: 0;
  background: green; /*url('../files/images/field.jpg');*/
}
.fix-card > img {
  height: 40vh;
  width: 50%;
  /*border: 1px solid;*/
  object-fit: cover;
  object-position: ;
}
.vs- {
  scale: ;
  font-size: 3rem;
  color: lawngreen;
  font-family: normal;
  font-weight: 1000;
  text-align: center;
}
.carder {
  margin: 20px;
  border-radius: ;
  background-color: grey;
}
.update-fix {
  margin-bottom: 10px;
}
.select- {
  width: ;
  margin: 10px;
  padding: 10px;
}
.select- select {
  width: 98%;
  justify-self: center;
  height: 3vh;
  border: 1px solid green;
  border-radius: 10px;
}