.title-top {
  font-size: 1.2rem;
  color: black;
  padding: 23px;
}
.top-story {
  background-color: aliceblue;
  padding: 10px;
}
.news-card {
  margin: 20px;
  text-align: center;
  /*border: 1px solid;*/
  background: rgba(25,25,23,19%);
}
.news-card > img {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.news-card h2 , .news-card p{
  text-align: left;
  padding: 5px;
}
.news-card div {
  width: 100%; text-align: right;
}
.select- {
  width: ;
  margin: 10px;
  padding: 10px;
}
.select- select {
  width: 98%;
  justify-self: center;
  height: 3vh;
  border: 1px solid green;
  border-radius: 10px;
}