body {
  background: aliceblue;
}
.search-bar {
  margin: 10px;
  border-radius: 10px;
  height: ;
  width: 96%;
  border: 1px solid slategrey;
  padding: 10px;
  font-size: 1.1rem;
}
.suggest-teams {
  margin: 10px;
  background-color: rgba(25,25,25,76%);
  padding: 10px;
  width: 92%;
  margin-top: -1.8vh;
  border-radius: 0 0 10px 10px;
  color: lightgray;
  overflow-y: auto;
  max-height: 40vh;
  background: linear-gradient(135deg, black, white, red, white, green);
}
.yes-results {
  padding: 10px;
  margin: 5px;
  background-color: rgba(25,25,25,92%);
  color: lightblue;
}
.no-results {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 0.9rem;
  background-color: rgba(25,25,25,92%);
}
.latest-res {
  margin: 20px;
  background: #131d24;
  color: azure;
  padding: 10px;
  font-family: normal;
}
.latest-res > h3 {
  margin: 20px;
  letter-spacing: 1.3px;
}
.res-row {
  display: flex;
  justify-content: center;
  background-color: #242424;
  margin-top: 15px;
}
.res-row > h2{
  font-family: normal;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.res-row h1 {
  border-radius: 10px;
  background-color: #fff;
  color: black;
  padding: 10px;
  margin: 10px;
}